.basket{
  margin-top: 20px;
  .basketWrapper{
    margin-bottom: 20px;
    position: relative;
    width: fit-content;
    margin-left: auto;
    .basketBody{
      width: 60px;
      height: 60px;
      z-index: 0;
    }
    span{
      position: absolute;
      top: 16px;
      left: 28px;
      display: flex;
      justify-content: center;
      width: 25px;
      font-weight: bold;
      font-style: normal;
      font-family: Geneva, Arial, Helvetica, sans-serif;
      color: brown;
      z-index: 9;
    }
  }
}
.table {
  .wrapper {
    table {
      width: 100%;
      border-collapse: collapse;
      border: 3px solid black;
      thead {
        font-weight: bold;
        font-size: 25px;
        th {
          border: 1px solid black;
        }
      }

      tbody {
        td {
          border: 1px solid black;
          padding: 5px;
        }
      }
    }
  }
}
