* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.default {
  fill: lightgray;
}
.asc,
.desc {
  fill: black;

}

.desc {
  transform: rotateX(180deg);
  margin-top: 3px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  thead {
    font-weight: bold;
    font-size: 25px;
    th {
      border: 1px solid black;
    }
  }

  tbody {
    td {
      border: 1px solid black;
      padding: 5px;
    }
  }
}

.emptyBasket {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
